@import 'confi.scss';

.page-swipe img{
    display: block;
    width: 100%;
    height: px2rem(330px)
}
.page-swipe .mint-swipe{
    height: px2rem(330px);
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.page-swipe .mint-swipe-item {
    line-height: 200px;
}
.page-swipe .slide1 {
    background-color: #0089dc;
    color: #fff;
}
.page-swipe .slide2 {
    background-color: #ffd705;
    color: #000;
}
.page-swipe .slide3 {
    background-color: #ff2d4b;
    color: #fff;
}
.page-swipe-desc {
    text-align: center;
    color: #666;
    margin-bottom: 5px;
}
.mint-swipe-indicator{
    opacity: 0.5;
    &.is-active{
        opacity: 0.6;
    }
}
