@import 'confi.scss';

.tab-group{
    background: #f8f6f6;
    font-size: px2rem(30px);
    color: #444;
    .tab-item{
        height: px2rem(98px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .router-link-active{
        color: #be0102;
        i{
            color: #be0102
        }
    }
}
